.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 550px;
  margin: 12px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  width: 550px;
  margin: 10px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}